<!-- nell'header sistemiamo il logo e la navbar in alto a sinistra della pagina, il bottone accedi in alto a destra-->
<header>
  <div class="header-left">
    <img src="LabTV-Loghi/1.png" alt="" id="logo" />
    <nav>
      <ul>
        <li id="home" class="bottone">Home</li>
        <!-- il tasto home porta al top-left e, se è stato effettuato login, mostra TUTTE gli slider-->
        <li id="film" class="bottone hidden">Film</li>
        <!-- il tasto film serve a nascondere tutti gli slider tranne quelli dei film e i consigliati-->
        <li id="serie" class="bottone hidden">SerieTV</li>
        <!-- il tasto serie TV serve a nascondere tutti gli slider tranne quelli delle serie TV e i consigliati-->
        <li id="bambini" class="bottone hidden">Per Bambini</li>
        <!-- il tasto per bambini serve a nascondere tutti gli slider tranne quelli con i cartoni animati e i consigliati-->
      </ul>
    </nav>
  </div>
  <!-- Checkbox per controllare popup di accesso/registrazione -->
  <input type="checkbox" id="accesso" />
  <input type="checkbox" id="switch-registrazione" />

  <!-- Logo Avatar che simula il login di un account registrato -->
  <div class="header-right" id="avatar">
    <img src="LabTV-Loghi/cat.png" alt="" class="hidden" />
  </div>

  <!-- Menu a comparsa dell'account una volta loggato. per ora serve solo a fare logout-->
  <div id="avatar-menu" class="hidden">
    <ul>
      <li id="logout">LogOut</li>
    </ul>
  </div>

  <!-- Bottone Accedi -->
  <label id="btnAccedi" class="header-right open" for="accesso">
    <p>Accedi</p>
  </label>

  <!-- popup per effettuare login/registrazione -->
  <div class="popup login-popup">
    <form id="loginForm" class="popup-content">
      <div class="contenitore-img">
        <img src="LabTV-Loghi/4.png" alt="" />
      </div>

      <div class="box-inserimento">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="username" class="username" required />
        <span class="msg-errore"></span>

        <label for="password"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          id="password"
          class="password"
          required
        />
        <span class="msg-errore"></span>

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember" />
          Remember me
        </label>
      </div>

      <div class="box-inserimento">
        <label for="switch-registrazione" class="registra-button" id="registrati">Registrati</label>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>

      <label for="accesso" class="close">Chiudi</label>
    </form>
  </div>

  <!-- popup registrazione, che sostituisce quello di login -->
  <div class="popup registrazione-popup">
    <form id="registerForm" class="popup-content">
      <div class="contenitore-img">
        <img src="LabTV-Loghi/4.png" alt="" />
      </div>
      <div class="box-inserimento">
        <label for="new-username"><b>Username</b></label>
        <input
          type="text"
          placeholder="Enter Username"
          id="new-username"
          class="username"
          required
        />
        <span class="msg-errore"></span>

        <label for="new-email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" id="new-email" class="email" required />
        <span class="msg-errore"></span>

        <label for="new-password"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          id="new-password"
          class="password"
          required
        />
        <span class="msg-errore"></span>

        <button type="submit">Registrati</button>
      </div>

      <label for="switch-registrazione" class="close">Chiudi</label>
    </form>
  </div>
</header>
