<div class="slider-container">
  <button class="nav-btn left" (click)="scrollLeft()"><</button>

  <div class="slider" #slider>
    <div
      class="movie-card"
      *ngFor="let film of movies"
      [routerLink]="['/movie', film.id]"
      (click)="resetAutoScroll()"
      (mouseenter)="resetAutoScroll()"
      (mouseleave)="startAutoScroll()"
    >
      <mat-card class="movie-mat-card" appearance="outlined">
        <img
          mat-card-image
          [src]="'https://image.tmdb.org/t/p/w300' + film.poster_path"
          [alt]="film.title"
        />

        <div class="movie-overlay">
          <h3>{{ film.title }}</h3>
          <p>{{ film.overview }}</p>
          <span class="rating">⭐ {{ film.vote_average }}</span>
        </div>
      </mat-card>
    </div>
  </div>

  <button class="nav-btn right" (click)="scrollRight()">></button>
</div>
