<div class="slider-container">
  <!-- Freccia sinistra -->
  <button class="nav-btn left" (click)="scrollLeft()">‹</button>

  <!-- Lista film -->
  <div class="slider" #slider>
    <div class="movie-card" *ngFor="let film of movies">
      <mat-card class="movie-mat-card" appearance="outlined">
        <mat-card-title>{{ film.title }}</mat-card-title>
        <img
          mat-card-image
          [src]="'https://image.tmdb.org/t/p/w300' + film.poster_path"
          [alt]="film.title"
        />
      </mat-card>
    </div>
  </div>

  <!-- Freccia destra -->
  <button class="nav-btn right" (click)="scrollRight()">›</button>
</div>
