button {
  background-color: rgb(60, 158, 54, 0.8);
  width: 7em;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  border: none;
}

button:hover {
  background-color: rgb(37, 74, 34, 0.8);
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.485);
  z-index: 2;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1.2em;
  margin-left: 1.05em;
}

.header-right {
  display: flex;
  align-items: center;
  align-self: center;
  margin-right: 1.5em;
}

#logo {
  width: 100px;
}

.user-menu-container {
  position: relative;
  display: inline-block;

  button {
    background-color: rgb(60, 158, 54, 0.8);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;

    &:hover {
      background-color: rgb(37, 74, 34, 0.8);
      color: white;
    }
  }

  ul.user-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    z-index: 20;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    background-color: #222;

    li {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        width: 7em;
        height: 3.5em;
        padding: 0;
        background-color: rgb(60, 158, 54, 0.8);
        color: white;
        text-align: center;
        font-weight: bold;
        border-radius: 8px;
        border: none;

        &:hover {
          background-color: rgb(37, 74, 34, 0.8);
        }
      }
    }

    &.show {
      display: flex;
      animation: slideFadeDown 0.25s ease forwards;
    }
  }
}

.header-left,
.header-right {
  padding: 0.3em 0;
  gap: 0.05em;
}

@keyframes slideFadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
