<!-- nell'header sistemiamo il logo e la navbar in alto a sinistra della pagina, il bottone accedi in alto a destra-->
<header>
  <div class="header-left">
    <img src="LabTV-Loghi/1.png" alt="" id="logo" />
    <button matFab extended>Home</button><button matFab extended>Film</button
    ><button matFab extended>Per Bambini</button><button matFab extended>Serie TV</button>
  </div>
  <div class="header-right">
    <button matFab extended (click)="accediOnClick()">Accedi</button>
  </div>
</header>
