<header>
  <div class="header-left">
    <img src="assets/1.png" id="logo" />
    <button mat-fab routerLink="/" (click)="topleft()">Home</button>
  </div>

  <div class="header-right">
    <button mat-fab (click)="openSearchCard()">🔍</button>
    <button mat-fab *ngIf="isLoggedIn" (click)="openCart()">🛒</button>
    <button *ngIf="!isLoggedIn" mat-fab (click)="accediOnClick()">Accedi</button>

    <!-- Pulsante utente con menu a tendina -->
    <div class="user-menu-container" *ngIf="isLoggedIn">
      <button mat-fab (click)="toggleUserMenu()">{{ userName }}</button>
      <ul class="user-dropdown" [class.show]="userMenuOpen">
        <li><button (click)="logoutOnClick()">Logout</button></li>
        <li><button routerLink="/library">Libreria film</button></li>
      </ul>
    </div>
  </div>
</header>
