form {
  background: #111;
  color: white;
  border: rgb(37, 74, 34, 0.8) solid 1px;
  border-radius: 10px;
  width: 450px;
  max-height: 680px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  background-color: rgb(60, 158, 54, 0.8);
  color: white;
}

button:hover {
  background-color: rgb(37, 74, 34, 0.8);
  cursor: pointer;
}

.contenitore-img {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.box-inserimento {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.username,
.password {
  padding: 10px;
}

.msg-errore {
  color: #d32f2f;
  font-size: 0.8rem;
}

.registra-button {
  cursor: pointer;
  font-weight: bold;
  color: #1976d2;
}

.psw {
  font-size: 0.9rem;
}

.close {
  align-self: center;
  margin-top: 20px;
}
