<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="popup-content">
  <div class="contenitore-img">
    <img src="LabTV-Loghi/4.png" alt="Logo" />
  </div>

  <div class="box-inserimento">
    <label for="username"><b>Username</b></label>
    <input
      matInput
      type="text"
      id="username"
      name="username"
      [(ngModel)]="username"
      required
      class="username"
    />
    <span class="msg-errore" *ngIf="loginForm.submitted && loginForm.controls['username']?.invalid">
      Inserisci un username valido
    </span>

    <label for="password"><b>Password</b></label>
    <input
      matInput
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
      class="password"
    />
    <span class="msg-errore" *ngIf="loginForm.submitted && loginForm.controls['password']?.invalid">
      Inserisci una password valida
    </span>

    <button mat-raised-button color="primary" type="submit">Login</button>

    <label>
      <input type="checkbox" [(ngModel)]="remember" name="remember" checked="checked" />
      Remember me
    </label>
  </div>

  <div class="box-inserimento">
    <label class="registra-button" (click)="openRegister()">Registrati</label>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>

  <button mat-button color="warn" class="close" type="button" (click)="closeDialog()">
    Chiudi
  </button>
</form>
